{% extends "PFEDashBundle::layout.html.twig" %}

{% block body -%}
    <h1>Pret creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pret') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
