{% extends "PFEDashBundle::layout.html.twig" %}

{% block body -%}
    <h1>Internet creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('internet') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
